:root {
  --font-family: 'Montserrat', sans-serif;
  --fill-point-color: tomato;
  --semi-transparent-font-color: #a8a8a8;
  --primary-font-color: #2c2c2c;
  --accent-color-text: #ff6b08;

  //body
  --background-body-color: #e2e2e2;

  // header
  --background-color-header: #616161;

  // contacts icons
  --inactive-color-icon-text: #ffffff;
  --inactive-icon-color: #ffffff;
  --background-accent-icon-color: #ff6b08;
  --background-icon-color: #525252;

  // skills
  --background-title-color: #424242;

  // margins for sections
  --margin-between-sections: 40px 0px 0px 0px;

  // margins for blocks
  --margins-between-blocks: 20px 0px 0px 0px;

  // paddings for blocks
  --paddings-in-blocks: 20px 20px 20px 20px;

  // hover
  --background-color-btn: #ff6b08;
  --accent-hover-effects: #ff6b08;
}
