<section class="experience">
  <div class="container container-experience--position">
    <div class="wrapper-experience">
      <div class="background-projects">
        <h3 class="projects__title">Projects</h3>
      </div>

      <ul class="projects-list">
        <li>
          <h4 class="projects-list__name">Project name:
            <a class="projects-list__ref" href="https://id-phonebook.netlify.app/" target="_blank">
              Phonebook
              <svg class="projects-list__icon" width="20px" height="25px">
                <use href="./images/symbol-defs.svg#icon-eye"></use>
              </svg></a>
          </h4>
        
          <p class="projects-list__technologies">
            Technologies: JS - REACT - REACT ROUTER - REDUX - REST API
          </p>
          <p class="projects-list__about">
            About project: it is a self-made contact list application with the possibility of adding and deleting those.
          </p>
        </li>

        <li >
          <h4 class="projects-list__name">Project name: <a class="projects-list__ref"  href="https://nabiros.github.io/project-Filmoteka/"
              target="_blank">Filmoteka
            <svg class="projects-list__icon" width="20px" height="25px">
              <use href="./images/symbol-defs.svg#icon-eye"></use>
            </svg>
          </a> 
        </h4>
   
          <p class="projects-list__technologies">
            Technologies: HTML5 - CSS3 - SASS - JS – PARCEL - AJAX
          </p>
          <p class="projects-list__about">
            About project: it was a group-made web application where people can find films and those descriptions.
        </li>

        <li>
          <h4 class="projects-list__name">Project name:
            <a class="projects-list__ref" href="https://i-dvorianska.github.io/goit-js-hw-13/" target="_blank">
              Image Search
              <svg class="projects-list__icon" width="20px" height="25px">
                <use href="./images/symbol-defs.svg#icon-eye"></use>
              </svg>
            </a>
          </h4>
        
          <p class="projects-list__technologies">
            Technologies: CSS3 - SASS - JS – PARCEL - AJAX
          </p>
          <p class="projects-list__about">
            About project: It is a self-made project which is used for looking for an images.
        </li>

        <li>
          <h4 class="projects-list__name">Project name: 
            <a class="projects-list__ref" href="https://i-dvorianska.github.io/goit-markup-hw-05/" target="_blank">
              WebStudio
            <svg class="projects-list__icon" width="20px" height="25px">
              <use href="./images/symbol-defs.svg#icon-eye"></use>
            </svg></a> 
          </h4>

          <p class="projects-list__technologies">
            Technologies: HTML5 - CSS3 - SASS
          </p>
          <p class="projects-list__about">
            About project: it is a self-made project with an adaptive design using a mobile-first strategy.
          </p>
        </li>
      </ul>
    </div>

    <div class="wrapper-experience">
      <div class="background-experience">
        <h3 class="experience-title">Work Experience</h3>
      </div>

      <ul class="experience-list">
        <li class="experience-list__item">
          <h4 class="experience-list__position">
            Warehouse manager <span class="experience-list__place">Cork Shop</span>
          </h4>
          <p class="experience-list__data">April 2017 - January 2020 | Spain</p>
          <p class="experience-list__description">Overseeing receiving, warehousing and distribution operations, taking inventory and handling customer requests.</p>
        </li>

        <li class="experience-list__item">
          <h4 class="experience-list__position">
            E-commerce <span class="experience-list__place">Shopify</span>
          </h4>
          <p class="experience-list__data">April 2020 - January 2021 | Spain</p>
          <p class="experience-list__description">Administration in Shopify.</p>
        </li>
       
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
