<header class="header">
  <div class="container">
    <div class="wrapper-header">
      <div class="wrapper-name">
        <h1 class="name">Ivanna Dvorianska</h1>
      </div>
      <div class="wrapper-profile">
        <img
          class="wrapper-profile__img"
          src="./images/678_oooo.plus.png"
          alt="ivanna"
          width="150"
          height="150"
        />
      </div>
    </div>

    <div class="wrapper-info">
      <p class="profession">Front-End Developer</p>

      <div class="wrapper-contacts">
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:i.dvorianska@gmail.com" target="_blank">
              <svg class="contacts-list__icon" width="17px" height="17px">
                <use href="./images/symbol-defs.svg#icon-gmail"></use>
              </svg>
            </a>
          </li>

          <li class="contacts-list__item">
            <a class="contacts-list__link" href="https://github.com/I-Dvorianska" target="_blank">
              <svg class="contacts-list__icon" width="17px" height="17px">
                <use href="./images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>

          <li class="contacts-list__item">
            <a
              class="contacts-list__link"
              href="https://www.linkedin.com/in/ivanna-d-065464221/"
              target="_blank"
            >
              <svg class="contacts-list__icon" width="17px" height="17px">
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>

          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+34618824858">
              <svg class="contacts-list__icon" width="17px" height="17px">
                <use href="./images/symbol-defs.svg#icon-phone"></use>
              </svg>
            </a>
          </li>

          <li class="contacts-list__item">
            <a
              class="contacts-list__link"
              href="https://goo.gl/maps/qCpQd5hEdmjU4kCv5"
              target="_blank"
            >
              <svg class="contacts-list__icon" width="20px" height="20px">
                <use href="./images/symbol-defs.svg#icon-placeholder"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <p class="about-me">
      I am starting as a Front-End Developer and am passionate about JS and React. I would like to be a part of focused on
      their product and dynamic team.
      </p>
    </div>
  </div>
</header>
