<section class="skills">
  <div class="container container-skill--position">
    <div class="wrapper-skill">
      <div class="background-box">
        <h2 class="type-skill">Contacts</h2>
      </div>
      <ul class="type-skill__list">
        <li class="type-contact__item">
          <a class="type-contact__link" href="mailto:i.dvorianska@gmail.com" target="_blank">
            <svg class="type-contact__icon" width="17px" height="17px">
              <use href="./images/symbol-defs.svg#icon-gmail"></use>
            </svg>
            i.dvorianska@gmail.com
          </a>
        </li>

        <li class="type-contact__item">
          <a class="type-contact__link" href="tel:+34618824858">
            <svg class="type-contact__icon" width="17px" height="17px">
              <use href="./images/symbol-defs.svg#icon-phone"></use>
            </svg>
            +34 618 824 858
          </a>
        </li>

        <li class="type-contact__item">
          <a
            class="type-contact__link"
            href="https://goo.gl/maps/qCpQd5hEdmjU4kCv5"
            target="_blank"
          >
            <svg class="type-contact__icon" width="20px" height="20px">
              <use href="./images/symbol-defs.svg#icon-placeholder"></use>
            </svg>
            Málaga, Spain
          </a>
        </li>
      </ul>
    </div>

    <div class="wrapper-skill">
      <div class="background-box">
        <h2 class="type-skill">Languages</h2>
      </div>
      <ul class="type-skill__list">
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Ukrainian - native
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Russian - fluent
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Spanish - upper-intermediate
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          English - lower-intermediate
        </li>
      </ul>
    </div>

    <div class="wrapper-skill">
      <div class="background-box">
        <h2 class="type-skill">Tech Skills</h2>
      </div>
      <ul class="type-skill__list">
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          HTML5
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          CSS3 / SASS
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          JavaScript ES6
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          GIT
        </li>

        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          WebPack / Parcel
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          React.js
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          NPM
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          REST API
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          AJAX
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Redux
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Scrum Methodology
        </li>
      </ul>
    </div>

    <div class="wrapper-skill">
      <div class="background-box">
        <h2 class="type-skill">Soft Skills</h2>
      </div>

      <ul class="type-skill__list">
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Teamwork
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Responsability
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Attention to Details
        </li>
        <li class="type-skill__item">
          <svg class="type-skill__icon" width="5px" height="5px">
            <use href="./images/symbol-defs.svg#icon-point"></use>
          </svg>
          Self-Taught Skills
        </li>
      </ul>
    </div>
  </div>
</section>
