.background-projects {
  padding: 10px 15px;
  background-color: var(--background-title-color);
}

.projects__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: white;
  text-align: center;
}

.projects-list {
  padding: var(--paddings-in-blocks);
}

.projects-list__name {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
}

.projects-list__ref {
  display: inline-flex;
  align-items: center;
  margin-left: 3px;
  color: inherit;
  text-decoration: underline;
  padding: 10px 5px;
  @include transition;

  &:hover {
    color: var(--accent-hover-effects);
    text-decoration: none;
  }
}

.projects-list__icon {
  margin-left: 10px;
  @include transition($element: fill);

  .projects-list__ref:hover & {
    fill: var(--accent-hover-effects);
    color: var(--accent-hover-effects);
  }
}

.projects-list__technologies {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.projects-list__about {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
