.skills {
  margin: var(--margin-between-sections);
}

.container-skill--position {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.wrapper-skill {
  width: 425px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);

  @include for-phone-up {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @include for-tablet-up {
    width: 367px;

    &:not(:first-child) {
      margin-top: 0px;
    }
    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }

  @include for-1024px {
    width: 457px;

    &:not(:first-child) {
      margin-top: 0px;
    }
    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }

  @include for-desktop-up {
    width: 280px;

    &:not(:first-child) {
      margin-top: 0px;
    }
    &:nth-child(n + 3) {
      margin-top: 0px;
    }
  }
}

.background-box {
  padding: 10px 15px;
  background-color: var(--background-title-color);
  // background: linear-gradient(135deg, #b0bbc1 0%, #1e2939 100%);
}

.type-skill {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: white;
}

.type-skill__list {
  list-style: none;
  padding: var(--paddings-in-blocks);
}

.type-skill__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;

  display: flex;
  align-items: center;
}

.type-skill__icon {
  margin-right: 10px;
  fill: var(--fill-point-color);
}

.type-contact__item {
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.type-contact__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--primary-font-color);
  @include transition;

  &:focus,
  &:hover {
    color: var(--accent-hover-effects);
  }
}

.type-contact__icon {
  min-height: 17px;
  min-width: 17px;
  fill: #525252;
  margin-right: 8px;
  @include transition($element: fill);

  .type-contact__link:hover &,
  .type-contact__link:focus & {
    fill: var(--accent-hover-effects);
  }
}
